@page "/DartMenu"
@using DartApp.Shared
@using DartApp.Client.Components
@inject GameStateContainer gameState;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime

<h3 class="text-center">Menu</h3>

<EditForm Model="gameState" OnValidSubmit="OnValidSubmit">

    <div class="container" style="max-width: 700px;">

        <div class="text-center" style="margin: 20px 0px 20px 0px;">
            <h3>Add players</h3>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @foreach (var player in gameState.Players)
                {
                    <div id="inputFormRow">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control m-input" placeholder="Enter player name" autocomplete="off" @bind-value="player.Name">
                            <div class="input-group-append">
                                <button id="removeRow" type="button" class="btn btn-danger" @onclick="() => RemovePlayer(player)">Remove</button>
                            </div>
                        </div>
                    </div>
                }

                <button id="addRow" type="button" class="btn btn-info" @onclick="AddPlayer">Add Player</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px">Start</button>
    </div>
</EditForm>

@code {

    protected override void OnInitialized()
    {
        gameState.ClearGameState();
        base.OnInitialized();
    }

    public void AddPlayer()
    {
        gameState.Players.Add(new Player());
    }

    public void RemovePlayer(Player player)
    {
        gameState.Players.Remove(player);
    }

    public void OnValidSubmit()
    {
        if (gameState.Players.Count > 1)
        {
            AddStartScore();
            gameState.TurnCount = gameState.Players.Count();

            foreach (var item in gameState.Players)
            {
                item.Name = item.Name ?? ("Player " + (gameState.Players.IndexOf(item) + 1));
            }
            navigationManager.NavigateTo("DartGame");
        }
        else
        {
            TooFewPlayersMessage();
        }
    }

    public async void TooFewPlayersMessage()
    {
        await JSRuntime.InvokeVoidAsync("alert", "Need more players!");
    }

    public void AddStartScore()
    {
        gameState.Players.Select(p => p.Score = 501).ToList();
    }
}
